@charset "UTF-8";
/* CSS Document */



* {
	font-family: 'roboto', san-serif;
}

/*nav bar */
nav {
	background-color: lightblue;
	height: 50px;
	width: 100%;
}
ul {
	list-style-type: none;
}

li {
	float: left;
	display: block;
	width: 100px;
	line-height: 50px;

}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: cornflowerblue;
}

a:hover {
	color: #366C7E;
}

a:active {
	color: aqua;
}


/* product specs page start */

h1 {
	font-weight: 500;
	margin-left: 20px;
}
h2 {
	float: left;
	font-weight: 100;
	margin-top: -20px;
	margin-left: 20px;
}


tr:nth-child(even){
	background-color: #EBEBD4;
}

th {
	text-align: left;
	border-left: 1px solid #D3D3D3;
	padding: 5px 15px;
}

td {
	padding: 5px 30px;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	
}

table{
	float: left;
	border-collapse: collapse;
	border-bottom: 1px solid #D3D3D3;
	margin: 20px;
	

}
tr:nth-child(2) {
	border-top: 1px solid #D3D3D3;
}

.image {
	border: 0px;
	vertical-align: bottom;
}


span {
	font-style: italic;
	font-weight: 100;
}

/* product specs page end */

form img {
	width: 50px;
}

